.sidebar {
    flex: 1;
    border-right: 0.5px solid #e6e6e6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    background-color: #fff;

    .top{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #222;
        }
    }

    hr{
        height: 0;
        border: 0.5px solid #ccc;
    }

    .center{

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            .title{
                font-size: 10px;
                font-weight: bold;
                color: #ccc;
                margin-bottom: 5px;
                margin-top: 15px;
            }
            li{
                display: flex;
                align-items: center;
                padding: 10px;
                text-align: start;
                cursor: pointer;
                &:hover{
                    background-color: #ece8ff;
                }
                .icon{
                    font-size: 18px;
                    margin-right: 10px;
                    color: #7451f8;
                }
                span{
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                }
            }
        }
    }

    .bottom{
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid #7451f8;
            cursor: pointer;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
            &:nth-child(3){
                background-color: darkblue;
            }
        }
    }

}